//COLORS
$primaryColor: #43b3e5;
$secondaryColor: #67DE5E;
$whiteColor: #EDF5E1;
$blackColor: #000;

//BOX SHADOWS
$boxShadowLight: rgba($blackColor, .1);
$borderShadowSecondary: rgba($secondaryColor, .5);