//COLORS
$primaryColor: #43b3e5;
$secondaryColor: #67DE5E;
$whiteColor: ghostwhite;
$blackColor: #000;

//BOX SHADOWS
$boxShadowLight: rgba($blackColor, .1);
$boxShadowDark: rgba($blackColor, .25);
$borderShadowSecondary: rgba($secondaryColor, .5);

//ETC
// $fa-font-path:        "/public/css/webfonts";