.block {
    // margin: 3rem 0;
    padding-bottom: 2rem;
    border-radius: $borderRadiusBlock;
    box-shadow: 0 1rem 3rem $boxShadowDark;
    background-color: $whiteColor;

    &__header {
        max-width: 33%;
        padding: 2rem;
    }

    &__header-text {
        margin-top: -4rem;
        padding: .4rem 1rem;
        text-align: left;
        font-size: 2.4rem;
        border-radius: $borderRadiusHeader;
        color: $whiteColor;
        background-color: $primaryColor;
    }

    &__body {
        padding: 0 4rem;
        font-size: 1.6rem;
        // line-height: 2rem;
    }

    &__body-text {
        margin-bottom: 1rem;
    }
}