.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding-right: 10rem;
    background-color: $primaryColor;
    color: $whiteColor;

    &__brand {
        flex: 0 0 20%;
        text-align: center;

        &--top {
            font-size: 2rem;
        }

        &--bottom {
            font-size: 1.25rem;
        }
    }

    &__divider {
        width: 8rem;
        fill: $whiteColor;
    }

    &__page-list {
        display: flex;
        justify-content: space-evenly;
        flex: 0 0 40%;
        margin-left: auto;
        list-style-type: none;
    }

    &__page-item {
        display: inline-block;
        font-size: 1.8rem;
    }

    &__link {

        &:link,
        &:visited { 
            text-decoration: none;
            color: $whiteColor;
        }
    }
}