.navigation {
    position: relative;
    transition: all .2s;

    &__background {
        position: fixed;
        width: 6rem;
        height: 6rem;
        top: 2.5rem;
        right: 2.5rem;
        z-index: 1000;
        border-radius: 50%;
        background-image: radial-gradient($primaryColor 0%, $seconadaryColor 50%);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__button {
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 7rem;
        height: 7rem;
        border-radius: 2rem;
        z-index: 2000;
        background: $whiteColor;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
        text-align: center;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3.5rem;
            height: 5px;
            background: linear-gradient(to left, $primaryColor, $seconadaryColor);
        }

        &::before,
        &::after {
            position: absolute;
            left: 0;
            content: "";
        }

        &::before { top: -1rem; }
        &::after { top: 1rem; }
    }

    &__nav {
        position: fixed;
        width: 0;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__links {
        @include absoluteCenter;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 3rem;
            font-weight: 300;
            color: $whiteColor;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            font-weight: 500;
            transform: scale(1.2);
        }

        &--active:link,
        &--active:visited {
            background-color: $whiteColor;
            color: $primaryColor;
            font-weight: 500;
            transform: scale(1.2);
        }
    }

    //CHECKBOX ANIMATION
    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        width: 100%;
        opacity: 1;
    }
}